body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid #d8cefe;
    background-color: #ddebf8
}
.avatar {
    width: 150px;
}
.card-text {
    text-align: center;
    color: #2b2839;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/ 